<div class="component-holder ng-binding ng-scope" data-component="crn-navbar" id="crn-navbar-986427">
  <nav class="navbar navbar-default"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a class="navbar-brand" href="javascript:void(0);">
            <div class="component-holder ng-binding ng-scope" data-component="crn-image" id="crn-image-535259"><img src="img/logo.png" style="max-height:30px; margin-top:-5px"></div>
        </a> 
      </div> 
      <div id="navbar" class="navbar-collapse collapse"> 
        <ul class="nav navbar-nav" style="float:none"> 
          <li class="dropdown component-holder" data-component=""> <a href="#/home" class="dropdown-toggle" ng-click="msg_div_click_false()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-lg fa-home"></i> <span>{{"Home.view.Home" | translate}}</span> </a> </li> 
          <li class="dropdown component-holder open" data-component="crn-menu-item" ng-if="session.root"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-users fa-lg"></i> <span>{{"Home.view.Admin" | translate}}</span> <span class="caret"></span> </a> 
            <ul class="dropdown-menu"> 

              <li class="active"><a href="#/home/admin/user" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">{{"Home.view.Users" | translate}}</a></li> 
              
              
            <li><a href="#/home/logged/carro" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Carro</a></li><li><a href="#/home/logged/posto" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Posto</a></li><li><a href="#/home/logged/abastecimento" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Abastecimento</a></li><li><a href="#/home/logged/comentario" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Comentário</a></li><li><a href="#/home/admin/combustivel" class="component-holder" data-component="crn-anchor">Combustivel</a></li><li></li><li></li></ul> </li> 

              <li><a href="#/home/logged/userrole" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">UserRole</a><a href="#/home/admin/role" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">{{"Home.view.Roles" | translate}}</a><a href="#/home/admin/user" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">{{"Home.view.Users" | translate}}</a></li> 
              
              
            <li><a href="#/home/logged/carro" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Carro</a></li><li><a href="" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Posto</a></li><li><a href="#/home/logged/abastecimento" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Abastecimento</a></li><li><a href="#/home/logged/comentario" class="component-holder" ng-click="msg_div_click()" data-component="crn-anchor">Comentário</a></li><li class="active"><a href="#/home/admin/combustivel" class="component-holder" data-component="crn-anchor">Combustivel</a></li></ul> </li> 

              <input class="form-control no-border" id="oldPassword" placeholder="{Old Password}" __________________placeholder="{Old Password}" ______________________________placeholder="{{'Home.view.Old Password' | translate}}" ________________________placeholder="{Old Password}" type="password"> 
            </div> 
            <div class="list-group-item"> 
              <input class="form-control no-border" id="newPassword" placeholder="{New Password}" __________________placeholder="{New Password}" ______________________________placeholder="{{'Home.view.New Password' | translate}}" ________________________placeholder="{New Password}" type="password"> 
            </div> 
            <div class="list-group-item"> 
              <input class="form-control no-border" id="newPasswordConfirmation" placeholder="{Confirmation}" __________________placeholder="{Confirmation}" ______________________________placeholder="{{'Home.view.Confirmation' | translate}}" ________________________placeholder="{Confirmation}" type="password"> 

            </div> 
          </div> 
        </form> 
      </div> 
      <div class="modal-footer"> 
        <button class="btn btn-primary" type="submit" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading">{{"Home.view.ChangePassword" | translate}}</button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button> 
      </div> 
    </div> 
  </div> 
</div>
  
<div ng-hide="msg_div">

<div class="container-full" data-container="true"> 
  
  <div class="container-fluid" data-container="true"> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-datasource" data-attribute-preview="" id="crn-datasource-448698">
    <datasource filter="/listaRankingAbastecimentos" name="Abastecimento" entity="api/rest/Abastecimento" keys="id" rows-per-page="100" delete-message="Deseja remover?"></datasource>
    </div>
    <div class="component-holder ng-binding ng-scope" data-component="crn-button" data-attribute-preview="" id="crn-button-502461"></div>
    <h3 align="center">Postos Campões de Rentabilidade</h3>
    <div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" data-attribute-preview="" id="crn-horizontal-container-509763">
      <div class="component-holder ng-binding ng-scope" data-component="crn-grid" data-attribute-preview="" id="crn-grid-708015">
        <div crn-datasource="dsPostos"> 
          <table class="table  table-bordered table-hover"> 
            <thead> 
            </thead> 
            <tbody>
              <tr class="table-content" ng-repeat="rowData in datasource.data"> 
              </tr> 
            </tbody> 
          </table> 
          <div class="table-footer-controls"> 
          </div> 
        </div>
      </div>
      <div class="component-holder ng-binding ng-scope" data-component="crn-grid" data-attribute-preview="" id="crn-grid-578679">
        <div crn-datasource="Abastecimento" align="center"> 
          <table class="table  table-bordered table-hover"> 
            <thead> 
              <tr class="table-header"> 
                <th class="active">
                  <div data-container="true">
                    Postos
                  </div></th> 
                <th>
                  <div data-container="true">
                    Média
                  </div></th> 
                <th>
                  <div data-container="true">
                    Média Total
                  </div></th>
              </tr> 
            </thead> 
            <tbody>
              <tr class="table-content" ng-repeat="rowData in datasource.data"> 
                <td class="active">{{rowData.nomePosto}}</td> 
                <td>{{rowData.mediaRentabilidadesPosto}}</td> 
                <td>{{rowData.mediaRentabilidadeGeral}}</td>
              </tr> 
            </tbody> 
          </table> 
          <div class="table-footer-controls"> 
            <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button> 
          </div> 
        </div>
      </div>
      <div class="row" data-container="true" draggable="true"> 
        <div class="column col-md-4">
          <div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" data-attribute-preview="" id="crn-combobox-dynamic-775080"></div>
        </div> 
        <div class="column col-md-4"></div> 
      </div>
    </div> 
  </div> 
</div>
</div>
