<ion-view cache-view="false" view-title="Abastecimento" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-stable" ng-hide="Abastecimento.inserting || Abastecimento.editing" ng-click="Abastecimento.startInserting()"> <i class="icon ion-plus-round"></i> </button>
    <button class="button button-stable" ng-show="Abastecimento.inserting || Abastecimento.editing" ng-click="Abastecimento.post()"> <i class="icon ion-checkmark"></i> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-hide="Abastecimento.inserting || Abastecimento.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="Abastecimento.inserting || Abastecimento.editing" ng-click="Abastecimento.cancel()"> <i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      <datasource  name="Abastecimento" entity="api/rest/Abastecimento" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
    </div>
    <div crn-datasource="Abastecimento" class="" ng-hide="Abastecimento.editing || Abastecimento.inserting">
      <ion-list can-swipe="listCanSwipe">
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)">
          <div class="row">
            <div class="col">
              {{rowData.data | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <div class="col">
              {{rowData.quilometragemRodada}}
            </div>
            <div class="col">
              {{rowData.litros}}
            </div>
            <div class="col">
              {{rowData.combustivel}}
            </div>
            <div class="col">
              {{rowData.precoPorLitro}}
            </div>
            <div class="col">
              {{rowData.user.email}}
            </div>
            <div class="col">
              {{rowData.posto.nome}}
            </div>
            <div class="col">
              {{rowData.carro.marca}}
            </div>
          </div>
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)">
            <i class="icon ion-edit"></i>
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
            &nbsp;
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="Abastecimento.editing || Abastecimento.inserting">
      <form crn-datasource="Abastecimento">
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
          <div class="list">
            <!-- data begin -->
            <label for="textinput-data" class="item item-input item-stacked-label">
            <span class="input-label">Data</span>
            <input type="text" as-date
              format="DD/MM/YYYY HH:mm:ss"
              ui-mask="DD/MM/YYYY HH:mm:ss"
              required
              name="data"
              ng-model="Abastecimento.active.data" class="form-control" id="textinput-data" placeholder="Ex: 01/01/2001" 
              >
            </label>
             <datasource name="Combustivel" entity="api/rest/Combustivel" keys="id" class=""></datasource>
            <label for="textinput-combustivel" class="item item-input item-select">
              <span class="input-label">combustível</span>
              <select ng-model="Abastecimento.active.combustível"  class="form-control" id="textinput-combustivel" name="combustivel" ng-options="opt as opt.nome for opt in Combustivel.data track by opt.id" required="">
              <option value=''>None</option>
              </select>
            </label>
            <!-- quilometragemRodada begin -->
            <label for="textinput-quilometragemRodada" class="item item-input item-stacked-label">
            <span class="input-label">Quilometragem Rodada</span>
           <input
              type="text"
              ng-model="Abastecimento.active.quilometragemRodada"
              class="form-control"
              id="textinput-quilometragemRodada"
              placeholder="Ex: 10"
              required="true"
              min=0
              onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" step="0.01" value="0.00" title="Por favor, insira a quilometragem rodada."
              >
            </label>
            <!-- litros begin -->
            <label for="textinput-litros" class="item item-input item-stacked-label">
            <span class="input-label">Litros</span>
           <input
              type="text"
              ng-model="Abastecimento.active.litros"
              class="form-control"
              id="textinput-litros"
              placeholder="Ex: 1.5"
              onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" step="0.01" value="0.00" required="true" title="Por favor, insira a quantidade de litros."
              >
            </label>
            <!-- combustivel begin -->
           
            <!-- precoPorLitro begin -->
            <label for="textinput-precoPorLitro" class="item item-input item-stacked-label">
            <span class="input-label">Preco Por Litro</span>
            <label for="textinput-precoPorLitro" class="">Preco Por Litro</label>
            <input
              type="text"
              ng-model="Abastecimento.active.precoPorLitro"
              class="form-control"
              id="textinput-precoPorLitro"
              placeholder="Ex: 3.99"
              required="true"
              ui-money-mask
              oninvalid="setCustomValidity('Por favor, insira o preço por litro.')" onchange="try{setCustomValidity('')}catch(e){}"
              >
            </label>
            <!-- user begin -->
            <datasource name="User" entity="api/security/User" keys="id" class=""></datasource>
            <!-- posto begin -->
            <datasource name="Posto" entity="api/rest/Posto" keys="id" class=""></datasource>
            <label for="textinput-posto" class="item item-input item-select">
              <span class="input-label">posto</span>
              <select ng-model="Abastecimento.active.posto" class="form-control" id="textinput-posto" name="textinput-posto" required="" ng-options="opt as opt.nome for opt in Posto.data track by opt.id" >
              <option value=''>None</option>
              </select>
            </label>
            <!-- carro begin -->
            <datasource name="Carro" entity="api/rest/Carro" keys="id" class=""></datasource>
            <label for="textinput-carro" class="item item-input item-select">
              <span class="input-label">carro</span>
              <select ng-model="Abastecimento.active.carro" class="form-control" id="textinput-carro" name="textinput-carro" ng-options="opt as opt.marca for opt in Carro.data track by opt.id" >
              <option value=''>None</option>
              </select>
            </label>
          </div>
        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
