div.jumbotron { 
  background-color: rgb(139, 195, 74);
}

td.genClass2529 { 
 }

td.genClass197 { 
 }

table.table { 
  font-family: Trebuchet MS,Helvetica,sans-serif;
  text-align: center;
}

table.table.table-bordered { 
  width: 800px;
}

button.btn.btn-block.btn-warning { 
  width: 250px;
}

div.row { 
    text-align: center;
    /* position: absolute; */
    right: 50%;
    transform: translate(15%, 50%); 
    width: 80% !important;
}

form.col-md-9 { 
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, 10%);
  margin-bottom: 20px !important;
}


a.btn.btn-default { 
  border-radius: 6px;
  padding: 15px;
  border: solid darkgray;
}

button.btn.btn-sucess { 
  border-radius: 6px;
  padding: 15px;
  border: solid darkgray;
}

h1.genClass2190 { 
  font-weight: bold;
}

h1.genClass4520 { 
  font-weight: bold;
}

p.genClass8031 { 
  font-weight: 600;
}

h3.genClass2617 { 
  font-weight: 600;
}

h4.genClass4202 { 
  font-weight: 600;
  padding: 15px;
}

.erro_postos{
    background-color: orange;
    width: 300px;
    height: 300px;
    border: solid grey;
    padding: 20px;
    border-radius: 50%;
}

.erro_postos h4{
    margin-top: 66px;
    font-size: x-large;
    font-weight: bold;
}


.fa-exclamation-triangle{
      font-size: 4.8em;
  
}

div.boxes { 
  text-align: center;
  right: 50%;
  transform: translate(15%, 10%);
  width: 80% !important;
}


.inputs{
  margin-top: 10px;
  margin-bottom: 10px;
}


.form-group input[type=radio] {
  display: none;
  
}
.form-group label i.fa:before {
  content:'\f005';
  color: #FC0;
  font-size: 4em;
}
.form-group input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
  
}  

.coment{
  margin-top: 25px;
  margin-bottom: 10px;
}


input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    width: 35px;
    margin-top: 1px;
    line-height: normal;
}

.tabela_coment{
  margin-top: 50px;
}

.btn_coment{
  margin-top: 23px !important;
}

.botao_banner{
  margin-bottom: 5px !important;
}

div.container-full { 
 }
