<ion-view cache-view="false" view-title="User" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-stable" ng-hide="User.inserting || User.editing" ng-click="User.startInserting()"> <i class="icon ion-plus-round"></i> </button>
    <button class="button button-stable" ng-show="User.inserting || User.editing" ng-click="User.post()"> <i class="icon ion-checkmark"></i> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-hide="User.inserting || User.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="User.inserting || User.editing" ng-click="User.cancel()"> <i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      <datasource  name="User" entity="api/security/User" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
    </div>
    <div crn-datasource="User" class="" ng-hide="User.editing || User.inserting">
      <ion-list can-swipe="listCanSwipe">
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)">
          <div class="row">
            <div class="col">
              {{rowData.email}}
            </div>
            <div class="col">
              {{rowData.name}}
            </div>
            <div class="col">
              {{rowData.login}}
            </div>
            <div class="col">
              <img ng-if="rowData.picture" data-ng-src="{{'data:image/png;base64,' + rowData.picture}}" style="max-height: 30px;">
            </div>
          </div>
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)">
            <i class="icon ion-edit"></i>
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
            &nbsp;
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="User.editing || User.inserting">
      <form crn-datasource="User">
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
          <div class="list">
            <!-- email begin -->
            <label for="textinput-email" class="item item-input item-stacked-label">
            <span class="input-label">email</span>
            <input
            type="text"
            placeholder="email"
            ng-model="User.active.email"
            id="textinput-email"
            name="textinput-email"
            >
            </label>
            <!-- name begin -->
            <label for="textinput-name" class="item item-input item-stacked-label">
            <span class="input-label">name</span>
            <input
            type="text"
            placeholder="name"
            ng-model="User.active.name"
            id="textinput-name"
            name="textinput-name"
            required="required">
            </label>
            <!-- login begin -->
            <label for="textinput-login" class="item item-input item-stacked-label">
            <span class="input-label">login</span>
            <input
            type="text"
            placeholder="login"
            ng-model="User.active.login"
            id="textinput-login"
            name="textinput-login"
            required="required">
            </label>
            <!-- picture begin -->
            <div class="item item-input item-stacked-label">
              <span class="input-label">picture</span>
              <div class="form-group upload-image-component" ngf-drop ngf-change="datasource.setFile($file, datasource.active.picture)" ngf-pattern="'image/*'">
                <img style="max-height: 128px; max-width: 128px;"
                  ng-if="datasource.active.picture"
                  data-ng-src="{{'data:image/png;base64,' + datasource.active.picture}}"
                  ngf-change="datasource.setFile($file, datasource.active, 'picture')"
                  accept="image/*">
                <img data-ng-src="{{datasource.noImageUpload}}"
                  style="max-height: 128px; max-width: 128px;"
                  ng-if="!datasource.active.picture"
                  ngf-select class="btn btn-default btn-block"
                  ngf-change="datasource.setFile($file, datasource.active, 'picture')" accept="image/*">
                <span class="remove button button-small icon ion-close-round button-assertive" ng-if="datasource.active.picture" ng-click="datasource.active.picture=null"></span>
              </div>
            </div>
            <!-- password begin -->
            <label for="textinput-password" class="item item-input item-stacked-label">
            <span class="input-label">password</span>
            <input
            type="text"
            placeholder="password"
            ng-model="User.active.password"
            id="textinput-password"
            name="textinput-password"
            required="required">
            </label>
            <!-- theme begin -->
            <label for="textinput-theme" class="item item-input item-stacked-label">
            <span class="input-label">Theme</span>
            <input
            type="text"
            placeholder="Theme"
            ng-model="User.active.theme"
            id="textinput-theme"
            name="textinput-theme"
            >
            </label>
          </div>
        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
